Ana María Jacobo Bojórquez

.parrafo{
    border: 1px dotted black;
    text-align: center;
    margin: 10px;
    padding: 15px;
    color: lightcoral;
    font-size: larger;
    font-weight: 500;
}

div {
    border: 3px double darkred;
    background-color: lightgoldenrodyellow;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    margin: 10px;
    font-size: x-large;
    text-align: center;
}

span ul li {
    color: darkcyan;
    font-style: oblique;
    font-weight: 600;
}

#button {
    background-color: darksalmon;
    border: 2px dotted darkred;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 5px;
}

.texto {
    color: crimson;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

.link {
    background-color: lightpink;
    color: white;
    padding: 5px;
}

a:hover {
    color: orange;
}